<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
        <div class="header">

        </div>

        <div class="nav">

        </div>

        <div class="main">
            <div class="article">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta neque veniam praesentium magni dolore debitis ipsum, reiciendis quisquam? Sed saepe ab impedit error ex aperiam, praesentium illum necessitatibus similique et. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sequi ex a iste velit beatae accusamus nulla qui ducimus cupiditate dolorum, quaerat ipsum distinctio eum dolore error repudiandae tenetur obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti non cum temporibus deleniti magni qui. Repellendus accusamus placeat hic, obcaecati magni debitis, veritatis natus, tenetur et sequi aliquid sed accusantium.

                
                <div class="aside">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur expedita nisi odio vitae similique, quasi laborum rem, obcaecati.
                </div>
            </div>

        </div>

        <div class="footer">

        </div>





</body>
</html>